ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  
}

button {
    cursor: pointer;
    font-family: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    margin: 0;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.container {
    max-width: 1158px ;
        padding:0 15px;
        margin: 0 auto;
}

/* ========== Header Styles ========== */
.page-header {
    display: block;
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;

}
.page-nav {
    display: flex;
        justify-content: flex-start;
        flex-direction: row;
        gap: 0px;
        align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    
}
 .header-logo {
    padding: 24px 0;
        margin-right: 76px;
 }
.logo-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;      
}
.nav-menu {
    display: flex;
        align-items: center;
        gap: 40px;
}

.nav-menu-item {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
}
.nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
.nav-menu-item .logo a:hover {
    color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
        color: #404bbf;
}

.contacts{
    font-style: normal;
    margin-left: auto;
}
.contacts-info {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
}

.contacts-info a {
    display:block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-info a:hover,
.contacts-info a:focus {
    color: #404bbf;
}
/* ========== / Header Styles ========== */


.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}


/* ========== Hero section ========== */
.hero {
    background-color: #2e2f42;
}

.main-tittle {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.order-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}
/* ========== / Hero section ========== */



/* ==========  Benefits section ========== */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ========== / Benefits section ========== */



/* ==========  Our team section ========== */

.team-section {
    background-color: #F4F4FD;
}

.team-member {
    background-color: #FFFFFF;
}
.member-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.member-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* ==========  Our team section ========== */



/* ==========  Portfolio ========== */
.portfolio-item {
    background: #fff;
}
.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ========== / Portfolio ========== */



/* ========== Footer ========== */
.footer-section {
    background-color: #2e2f42;
}
.logo-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-section .logo-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.footer-section .logo-text,
.footer-section p {
    color: #f4f4fd;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ========== / Footer ========== */