ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    margin: 0;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.container {
    max-width: 1440px ;
        padding:0 15px;
        margin: 0 auto;
}

/* ========== Header Styles ========== */
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
    max-width: 1158px;

}
.page-nav {
    display: flex;
        justify-content: flex-start;
        flex-direction: row;
        gap: 0px;
        align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    
}
 .header-logo {
    padding: 24px 0;
        margin-right: 76px;
 }
.logo-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;      
}
.nav-menu {
    display: flex;
        align-items: center;
        gap: 40px;
}

.nav-menu-item {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
}
.nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
.nav-menu-item .logo a:hover {
    color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
        color: #404bbf;
}

.contacts{
    font-style: normal;
    margin-left: auto;
}
.contacts-info {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
}

.contacts-info a {
    display:block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-info a:hover,
.contacts-info a:focus {
    color: #404bbf;
}
/* ========== / Header Styles ========== */


.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    padding-bottom: 72px;
}


/* ========== Hero section ========== */
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.main-tittle {
    max-width: 496px;
    margin: auto;
    padding-bottom: 48px;
}
.order-button{
    display: block;
    margin: auto;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
}
.order-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}
/* ========== / Hero section ========== */



/* ==========  Benefits section ========== */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefit-section container {
    max-width: 1128px;
    margin: 0 auto;
}

.benefit-section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 120px 0;
    list-style: none;
    margin: 0;
    justify-content: center;
}


.benefit-section li {
    flex-basis: 264px;
}

.benefits-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;
}

.benefits-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ========== / Benefits section ========== */



/* ==========  Our team section ========== */

.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.section-tittle {
    margin-bottom: 72px
}
.team-section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding-bottom: 120px;
}

.team-member {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
            background: #ffffff;
}
.member-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.member-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* ==========  Portfolio ========== */
.portfolio-section {
    padding: 120px 0; 
}

.portfolio-section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px; 
    justify-content: center;
}

.portfolio-item {
    width: 360px; 
    background: #fff; 
    border: 1px solid #E7E9FC; 
    border-top: none;
    border-radius: 0 0 4px 4px; 
    padding-bottom: 32px;
    box-sizing: border-box;
}

.portfolio-item img {
    width: 100%; 
    height: auto; 
    display: block; 
    border-bottom: 1px solid #E7E9FC; 
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    padding: 32px 0 0 16px;
}

.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 0 0 0 16px;
}
/* ========== / Portfolio ========== */




/* ========== Footer ========== */
.footer-container {
display: block;
max-width: 1158px;
}

.footer-section {
    background-color: #2e2f42;
        margin: auto;
}
.footer-section {
    padding-top: 100px;
}
.logo-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-section .logo-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.footer-section .logo-text,
.footer-section p {
    color: #f4f4fd;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
        padding: 16px 0 100px 0;
}

/* ========== / Footer ========== */